.row.cv-section#section1
  .span4
    .cv-section-title      
      %h2 Profesional Profile
  .span8
    .cv-item
      %p= t 'content.section1.p1'
      %p= t 'content.section1.p2'
.row.cv-section#section2
  .span4
    .cv-section-title
      %h2 Work Experience
  .span8
    .cv-item
      %p.period
        July 2008 - Present
      %h3 
        %strong Senior Project Manager
      %h4 Web Design Studios, Full-Time
      %p= t 'content.section2.p1' 
      %ul.fill-circle
        %li Lorem ipsum dolor sit amet, consectetur adipiscing elit
        %li Vivamus vitae libero odio, eu interdum elit
        %li Donec dignissim purus vel leo accumsan interdum
        %li Proin sit amet massa mi, in volutpat ante
    .cv-item
      %p.period
        April 2007 - May 2008
      %h3 
        %strong Front End Developer
      %h4 
        Acme Advertising, Full-Time
      %p= t 'content.section2.p2' 
      %ul.fill-circle
        %li Vivamus vitae libero odio, eu interdum elit
        %li Donec dignissim purus vel leo accumsan interdum
        %li Proin sit amet massa mi, in volutpat ante
.row.cv-section#section3
  .span4
    .cv-section-title
      %h2 Technical Skills
  .span8
    .cv-item
      %p.period
        Expert, 4 Years
      %h3.text-uppercase 
        %strong Html5 & Css3
      %br.clear
      %p.last= t 'content.section3.p1'
    .cv-item
      %p.period
        Advanced, 2 Years
      %h3
        %strong Javascript
      %br.clear
      %p.last= t 'content.section3.p2'
    .cv-item
      %p.period
        Beginer, 1 Year
      %h3
        %strong jQuerry
      %br.clear
      %p= t 'content.section3.p3'
      %p.last= t 'content.section3.p4'
.row.cv-section#section4
  .span4
    .cv-section-title
      %h2 Education
  .span8
    .cv-item
      %h3
        %strong Boston State Univerity
      %h4 Dual Major, Web Design and English - 3.9 GPA
      %br
      %p.last= t 'content.section4.p1'