.row.cv-section-header
  .span8
    .cv-section-title
      = image_tag 'a.png'

      %h1 
        John Smith
        %small Front End Developer
  .span4
    .cv-item
      .social-media.fixed
        %a.facebook-icon.social-icon
          %i.fa.fa-facebook
        %a.twitter-icon.social-icon
          %i.fa.fa-twitter
        %a.googleplus-icon.social-icon
          %i.fa.fa-google-plus
        %a.linkedin-icon.social-icon
          %i.fa.fa-linkedin
      %p.last
        %span Email:
        %a #{mail_to('john@sitename.com')}
        %br
        %span Phone: (123) 456-7890
        %br
        %span Web:
        %a www.johnsmithsite.com
