.main {
  margin: 50px auto;
  position: relative;
  background-color: #FFF;
  z-index: 90;
  max-width: 1060px;

  .content {
    min-height: 300px;
  }

}

.row { 
  position: relative; 
  width: 940px; 
  margin: 0px auto;

  &:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
}

.cv-section {
  padding: 65px 0;
  border-top: 1px solid $border-colour-1;
}

.cv-section-title img {
  float: left;
  display: block;
  margin-right: 20px;
  padding: 5px;
  border: 1px solid $border-colour-1;
}

.cv-section-header {
  @extend .cv-section;
  border-top: 10px solid $border-colour-2; }

.cv-section-title {
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: baseline;

  h1 {
  padding-top: 50px;

    small {
      font-size: 24px;
      line-height: 48px;
      text-transform: uppercase;
      display: block;
    }
  }
}

.cv-section-title h2 {
  margin-bottom: 0;
  color: #b1b1b1;
}

.cv-item {
  border-bottom: 1px solid $border-colour-1;
  padding-bottom: 40px;
  margin-bottom: 40px;

  h3 {
  margin-bottom: 0;
  }


  &:hover {
    p.period {
      background-color: $border-colour-2;
      cursor: pointer;
    }
  }

  &:last-child {
  padding-bottom: 0;
  border-bottom: none; 
  margin-bottom: 0;
  }
}

.cv-contact {
  background-color: #fff;
  left: -320px;
}

.cv-contact-toggle {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background-color: $border-colour-2;
  text-align: center;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  @include transition-property(background-color);
  @include transition-duration(0.3s);

  &:hover { background-color: #d78c02;
  }
}

.period {
  float: right;
  background-color: #b1b1b1;
  color: #fff;
  padding: 12px 20px;
  background-color: #b1b1b1;
  @include transition-property(background-color);
  @include transition-duration(0.3s);
  text-transform: uppercase;    
}

.fill-circle {
  list-style: none;

  li:before {
    position: relative;
    top: -2px;
    width: auto;
    height: auto;
    margin-right: 8px;
    color: $border-colour-2;
    font-family: 'FontAwesome';
    font-size: 10px;
    font-style: normal;
    content: "\f111";
    font-size: 10px;
    }
}

.last {
  margin-bottom: 0px;
}

.text-uppercase {
  text-transform: uppercase;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0px;
  height: 0px;
} 

.fixed:after {
  visibility: hidden;
  display: block;
  font-size: 0px;
  content: "";
  clear: both;
  height: 0px;
}
