footer {
  footer { padding-top: 0; }
}

.copyright {
  padding: 5px 0;
  margin-bottom: 0;
  background-color: #b1b1b1;
  color: #fff;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}
