.span {
  float: left;
  margin-left: 20px;
}

.span4 {
  @extend .span;
  width: 220px;
}

.span8 {
  @extend .span;
  width: 700px;
}

.span1 {
  @extend .span;
  width: 940px;
}

.span4:first-child, .span8:first-child,.span1:first-child {
  margin-left: 0px;
 }
