.header {
  color: #444;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

h1 {
  @extend .header;
  margin-bottom: 14px;
  font-size: 48px;
  line-height: 50px;
}

h2 {
  @extend .header;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 40px;
}

h3 {
  @extend .header;
  margin-bottom: 8px;
  font-size: 18px; 
  line-height: 34px;   
}

h4 {
  @extend .header;
  margin-bottom: 4px; 
  font-size: 16px; 
  line-height: 30px;   
}
