.move_to_top {
  position: fixed;
  bottom: 10%;
  right: -65px;
  width: 50px;
  height: 50px;
  background-color: #747474;
  color: #fafafa;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;

  border-radius: 2px;
  text-decoration: none;
  opacity: 0;
  @include transition (all 0.7s ease);

  &:hover {
   background-color: rgba(0, 0, 0, 0.7);
  }
}

.visible {
  right: 45px;
  opacity: 1;
}
