.social-media { margin-bottom: 20px; }

.social-icon {
  float: left;
  display: block;
  width: 32px;
  margin-right: 15px;
  margin-bottom: 5px;
  background-color: #252525;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 32px;

  &:last-child { margin-right: 0px;
  }
}

.fa {
  display:inline-block;
  font-family:FontAwesome;
  font-style:normal;
  font-weight:normal;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.fa-twitter:before {
  content:"\f099";
}

.fa-facebook:before {
  content:"\f09a";
}

.fa-google-plus:before {
  content:"\f0d5";
}

.fa-linkedin:before {
  content:"\f0e1";
}

.facebook-icon:hover { background-color: #0e59a0; }
.twitter-icon:hover { background-color: #0ea4ff; }
.googleplus-icon:hover { background-color: #dd0707;}
.linkedin-icon:hover { background-color: #018faf;}
