html, body, div, span, h1, h2, h3, h4, p, a, i, img,small, strong, sub, ul, li, footer, header {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
  }

body {
  background: image-url('bgbody14.png'); 
  line-height: 21px;
  color: #444;
}

p {
  margin-bottom: 20px;
}

a {
  color: #444;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small {
  font-size: 50%;
}
	
sub {
  vertical-align: sub; 
  font-size: 75%; 
}

ul, ol { 
  margin-bottom: 20px;
  list-style-position: inside; 
}

.fa-angle-up:before {
  content:"\f106";
}

$border-colour-1: #dadada;
$border-colour-2: #fdb020;
